# PASTAS
SANDBOX/
limbo/
slprj/
LATEX_exemplo/
materias/
video/
reunioes/
codegen/
build/

.DS_Store

# LOGS E ARQUIVOS AUXILIARES LATEX

# geral
*.asv
*.bak
~*.docx
*.slxc
*.log

# latex
*.aux
*.bbl
*.blg
*.brf
*.dvi
*.fdb_latexmk
*.fls
*.glo
*.lof
*.lot
*.out
*.ps
*.synctex.gz
*.tcp
*.toc
*.tps

# worktree
master/

# temp folders
temp_*/
.pio/