@import "tailwindcss";

@theme {
  --breakpoint-tablet: 1300px;

  /* Keep all default Tailwind colors and add custom ones */
  /* --color-*: initial; */
  --color-blue50: hsl(220, 50%, 50%);
  --color-blue30: hsl(220, 50%, 30%);
  --color-blue20: hsl(220, 50%, 20%);
  --color-gray50: hsl(0, 0%, 50%);
  --color-gray30: hsl(0, 0%, 30%);
  --color-gray20: hsl(0, 0%, 20%);
  --color-gray15: hsl(0, 0%, 15%);
  --color-gray10: hsl(0, 0%, 10%);
  --color-info: hsl(0, 0%, 23%);
  --color-send50: hsl(15, 65%, 50%);
  --color-send30: hsl(15, 65%, 40%);
  --color-panel: #1e1e1e;
  --color-warning: hsl(60, 50%, 61%);
  --color-success50: hsl(130, 50%, 40%);
  --color-success40: hsl(130, 50%, 30%);
  --color-danger50: hsl(0, 50%, 50%);
  --color-danger40: hsl(0, 50%, 40%);
}

/* Custom component styles */
.btn {
  display: inline-block;
  padding: 0.5rem 0.75rem;
  font-size: 1.125rem;
  border: 1px solid var(--color-blue50);
  background-color: var(--color-blue30);
  border-radius: 0.375rem;
  cursor: pointer;
  transition-duration: 300ms;
}

.btn:hover {
  background-color: var(--color-blue50);
}

/* Custom component styles */
.btn.send {
  color: hsl(0, 0%, 90%);
  border-color: var(--color-send50);
  background-color: var(--color-send30);
}

.btn.send:hover {
  background-color: var(--color-send50);
}

.btn.success {
  color: hsl(0, 0%, 90%);
  border-color: var(--color-success50);
  background-color: var(--color-success40);
}

.btn.success:hover {
  background-color: var(--color-success50);
}

.btn.danger {
  color: hsl(0, 0%, 90%);
  border-color: var(--color-danger50);
  background-color: var(--color-danger40);
}

.btn.danger:hover {
  background-color: var(--color-danger50);
}

.btn.info {
  padding: 0.2rem 0.7rem;
  color: hsl(0, 0%, 90%);
  border-color: var(--color-gray15);
  background-color: var(--color-gray20);
}

.btn.info:hover {
  background-color: var(--color-gray30);
}

.border {
  border: 1px solid var(--color-zinc-700);
}

.input {
  background-color: var(--color-panel);
  border: 1px solid var(--color-zinc-700);
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: hsl(0, 0%, 80%);
  background-color: var(--color-gray15);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

