/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@import "tailwindcss";

/* @theme {
  --color-gray-50: oklch(0.984 0.003 247.858);
  --color-gray-100: oklch(0.968 0.007 247.896);
  --color-gray-200: oklch(0.929 0.013 255.508);
  --color-gray-300: oklch(0.869 0.022 252.894);
  --color-gray-400: oklch(0.704 0.04 256.788);
  --color-gray-500: oklch(0.554 0.046 257.417);
  --color-gray-600: oklch(0.446 0.043 257.281);
  --color-gray-700: oklch(0.372 0.044 257.287);
  --color-gray-800: oklch(0.990 0.081 260.031);
  --color-gray-900: oklch(0.208 0.042 265.755);
  --color-gray-950: oklch(0.129 0.042 264.695);
} */


.btn {
  @apply border px-3 py-2 bg-gray-800 text-lg rounded-md cursor-pointer hover:bg-stone-700 duration-300;
}

.bg-info {
  background-color: hsl(240, 47%, 69%) !important
}

.bg-warning {
  background-color: hsl(60, 49%, 61%) !important
}

.bg-success {
  background-color: hsl(122, 50%, 60%) !important
}

.bg-danger {
  background-color: hsl(359, 50%, 60%) !important
}

.bg-panel {
  background-color: #1e1e1e;
}

.border {
  @apply border-zinc-700 border-[1px]
}

.input {
  @apply bg-panel border
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: hsl(0, 0%, 80%);
  background-color: hsl(0, 0%, 10%);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

